#blogs-container {
    display: flex;
    flex-direction: column;
}

.blog-card {
    width: 60%;
}

#blogs-container * {
    padding: 0;
}

.blog-header {
    color: blue;
}

.blog-meta {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .75rem;
}

@media only screen and (max-width: 600px) {
    .blog-card {
        width: 100%;
    }
}