.no-bold {
    font-weight: 400;
    padding: 0;
}

.email-form {
    display: flex;
    flex-direction: column;
}

#contact-info {
    width: 50%
}

@media only screen and (max-width: 700px) {
    #contact-info {
        width: 100%;
    }
}

#send-email-button {
    background-color: white;
    color: red;
    border: 0 !important;
    font-size: 1.5rem;
    text-align: start;
}